
.col25 {
	width: 25%;
}

.errormsg {
	clear: none;
	color: red;
	margin-top: 2px;
	font-size: 8pt;
}

.infomsg {
	color: green;
	list-style: none;
	font-size: 10pt;
	font-weight: bold;
}

input, select {
    border: 1px solid #9EA7BE;
    float: left;
    font-size: 11px;
    margin: 2px 0 0;
    padding: 0;
    background: none repeat scroll 0 0 white;
    color: #001745;
}