<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!--<property name="location" value="file:/tracer.properties" />-->
		<property name="location">
			<value>classpath:tracer.properties</value>
		</property>
		<property name="properties">
			<props>
				<prop key="wt.host">wtrweb.worldtracer.aero</prop>
				<prop key="training.mode">TRAINING</prop>
				<prop key="wt.rules">com.bagnet.clients.defaul.wt.DefaultWorldTracerRuleMap</prop>
				<prop key="reservation.version.name"></prop>
				<prop key="shares.class.path">defaul</prop>
				<prop key="client.utils.class.path">defaul</prop>
			</props>
		</property>
	</bean>

	<bean id="scannerDataSource"
		class="com.bagnet.clients.ScannerDataSourceImpl" />

	<bean id="customReportBmo" class="com.bagnet.clients.CustomReportBMO" />
	
	<bean id="clientUtils" class="com.bagnet.clients.ClientUtilsImpl" />


	<bean id="reservationIntegration"
		class="com.bagnet.clients.ReservationIntegrationImpl" />

	<bean id="eventHandler"
		class="com.bagnet.clients.ClientEventHandlerImpl" />
		
	<bean id="precoder"
		class="com.bagnet.clients.PrecoderImpl" />
		
	<bean id="sharesIntegration"
		class="com.bagnet.clients.SharesIntegrationThreadHandler" />
		
	<bean id="incidentLock" class="com.bagnet.nettracer.tracing.utils.lock.AsyncCacheLockFile" >
		<property name="lockFile" ref="asyncIncidentLockImpl" />
	</bean>
	
	<bean id="asyncIncidentLockImpl" class="com.bagnet.nettracer.tracing.utils.lock.CacheLockFile" />

	<!-- Hibernate config -->
	
	
	<bean id="sessionFactory" class="com.bagnet.nettracer.hibernate.HibernateWrapper"
		factory-method="getSession" />
		
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager"
		proxy-target-class="true" />
		
	<!-- Data Access Objects -->

	<bean id="wtTx-bmo" class="com.bagnet.nettracer.wt.bmo.WtTransactionBmo">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="actionFileStationBmo" class="com.bagnet.nettracer.wt.bmo.ActionFileStationBMO">
	</bean>

	<bean id="worldTracerAccountBmo" class="com.bagnet.nettracer.wt.bmo.WorldTracerAccountBMO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="lockBMO" class="com.bagnet.nettracer.tracing.bmo.LockBMO">
	</bean>

	<bean id="wafBmo" class="com.bagnet.nettracer.cronjob.bmo.WT_ActionFileBmo">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	
	<bean id="wtRuleMap" class="${wt.rules}"/>
		
	<bean id="wtService" class="com.bagnet.nettracer.wt.svc.DefaultWorldTracerService" scope="prototype">
		<property name="wtCompanyCode" value="${wt.company.code}" />
	</bean>

	<!-- Aspects and advice -->
	<aop:aspectj-autoproxy />
	
	<!--  world tracer transaction logging -->
	<bean id="wtLogging" class="com.bagnet.nettracer.aop.WorldTracerLogger">
		<constructor-arg ref="wtTx-bmo" />
	</bean>
	
	<bean id="actionFileManager" class="com.bagnet.nettracer.wt.svc.ActionFileManagerImpl" factory-method="getInstance">
		<property name="afsBmo" ref="actionFileStationBmo" />
		<property name="lockBmo" ref="lockBMO" />
		<property name="wafBmo" ref="wafBmo" />
	</bean>

	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter"
		lazy-init="false">
		<property name="beans">
			<map>
				<entry key="NetTracer:name=ntManagementBean${wt.company.code}" value-ref="ntManagementBean" />
			</map>
		</property>
	</bean>
	
	<bean id="ntManagementBean" class="com.bagnet.nettracer.jmx.NetTracerManagementBean" >
	</bean>
	
	<!-- DAO definitions -->
	<bean id="labelDao" class="com.bagnet.nettracer.tracing.dao.label.LabelDaoImpl" />
	<bean id="templateDao" class="com.bagnet.nettracer.tracing.dao.impl.TemplateDAOImpl" />
	<bean id="incidentActivityDao" class="com.bagnet.nettracer.tracing.dao.impl.IncidentActivityDAOImpl" />
	<bean id="documentDao" class="com.bagnet.nettracer.tracing.dao.impl.DocumentDAOImpl" />
	
	<!-- Service definitions -->
	<bean id="labelService" class="com.bagnet.nettracer.tracing.service.label.LabelServiceImpl">
		<property name="dao" ref="labelDao" />
	</bean>
	
	<bean id="templateService" class="com.bagnet.nettracer.tracing.service.impl.TemplateServiceImpl" >
		<property name="dao" ref="templateDao" />
	</bean>
	
	<bean id="documentService" class="com.bagnet.nettracer.tracing.service.impl.DocumentServiceImpl" >
		<property name="dao" ref="documentDao" />
	</bean>
	
	<bean id="incidentActivityService" class="com.bagnet.nettracer.tracing.service.impl.IncidentActivityServiceImpl" >
		<property name="documentDao" ref="documentDao" />
		<property name="incidentActivityDao" ref="incidentActivityDao" />
		<property name="templateDao" ref="templateDao" />
	</bean>
	
</beans>
