<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="resource:/tracer.properties" />
	</bean>

	<bean id="scannerDataSource"
		class="com.bagnet.clients.${scanner.class.path}.ScannerDataSourceImpl" />

	<bean id="reservationIntegration"
		class="com.bagnet.clients.${reservation.class.path}.ReservationIntegrationImpl" />

</beans>