
#menuList {
	position:relative;
	font-size:1em;
	z-index:100;
	margin: 0px;
	padding: 0px;
}

#menuList ul {
	z-index:100;
	margin: 0px;
	padding: 0px;
}

#menuList li {
	z-index:100;
	display:inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.navimenu {
	text-align: top;
	position: absolute;
	visibility: hidden;
	z-index: 100;
	line-height: 20px;
}

.navimenu li {
	width:100%;
}

div#users-contain {  width: 570px; margin: 20px 0; font-size: 10px}
div#users-contain table { margin: 0 0; border-collapse: collapse; width: 100%; vertical-align: top;}
div#users-contain table td, div#users-contain table th { border: 1px solid #fff; padding: 5px 5px; text-align: left; }


/**************************************************/
/*	TAB GRAPHICS						  */
/**************************************************/

ul.tabs {
	margin: 0px 0 0 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	/*border-top: 1px solid #999999;*
	border-left: 1px solid #5c9ccc;*/
	width: 100%;
}
ul.tabs li {
	
	padding: 0px 21px ;
	height: 31px;
	line-height: 31px;
	/*border: 1px solid #5c9ccc;
	position: relative;
	overflow: hidden;
	border-left: none;*/
	background: #FFFFFF;
	
	cursor: pointer;
	margin: 0;
	float: right;
	font-weight: bold;
}
ul.tabs li:hover {
	/*background: #177ecd;
	*color:white;*/
	text-decoration:underline;
}
ul.tabs li.active{
	/*background: #5c9ccc;
	/border-top: 1px solid #5c9ccc;*/
	display:none;
}
.tab_container {
	/*border: 1px solid #5c9ccc;*/
	/*border-top: none;*/
	clear: both;
	float: left; 
	width: 100%;
	background: #FFFFFF;
}
.tab_content {
	padding: -5px;
	font-size: 1em;
	display: none;
}


