/**************************************************/
/*	GENERAL HTML TAGS							  */
/**************************************************/
a {
	color:#369;
}	
a:hover, 
a:active {
	color:#69c;
	text-decoration: none;
}
body,td,input {
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
}
body {
	background-color: #3D89BB;
	font-size: 0.7em;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
img {
	border:0px none;
}
p, h1, h2, div 
{
}
h1 {
	font-size: 1.6em;
	color:#000;
	font-weight:bold;
	margin: 0px 0px 0px 0px;
}
h2, 
h3, 
h4, 
h5, 
h6 {
	font-size: 1.2em;
	color:#666;
	font-weight:bold;
	margin: 20px 0px 0px 0px;
}
p {
	margin: 10px 0px 0px 0px;
}
ul, 
ol {
	margin: 10px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}
ul {
	list-style-position:inside;
	list-style-type:square;
}
ul li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/**************************************************/
/*	LAYOUT DIVS AND TABLES						  */
/**************************************************/

/***** BODY *****/
#bodytable {
	background-color:#FFFFFF;
	border-left:1px solid #2D658A;
	border-right:1px solid #2D658A;
	
	height: 100%;
	text-align:left;
	margin-right: auto;
	margin-left: auto;
}
#bodytable td{
	padding: 0px;
}
#bodytable #topcell {
	vertical-align:top;
	background-color:#F2E8C6;
}
#bodytable #bottomcell {
	background-color:#539CCC;
	vertical-align:bottom;
	border-top:1px solid #2D658A;
}
/***** TOP LAYOUT *****/
#toplayouttable {
	border: 0px none;
	
}

/***** HEADER AND MENU *****/
td#header {
	height: 78px;
}
td#header.cssstandardthreecolumn { 
	background-image:url(../images/nettracer/header_bg.gif);
	background-repeat:no-repeat;
}
div#headercontent {
	float:right;
	text-align:right;
	margin:3px;
}
div#headercontent a{
	color:#B41B1B;
	text-decoration:none;
}
div#headercontent a:hover{
	color:#F8DF8B;
	text-decoration:underline;
}

/* horizontal text links menu */
td#headermenucell {
	background-color:#92431D;
	vertical-align:middle;
	height: 24px;
	text-align:center;
	color:#ffffff;
}
table#headermenu td{
	color:#ffffff;
	white-space:nowrap;
}

table#headermenu a {
	background-position:top;
	color: #fff;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	padding:0px 2px;
}
table#headermenu a:hover, 
table#headermenu a:active {
	text-decoration:underline;
	color:#F8DF8B;
}
table#headermenu td {
}

/* page header/search */
td#pageheadercell {
	background-color:#fff;
	border-top: 1px solid #569ECD;
	vertical-align:middle;
	height: 33px;
}
div#pageheaderleft {
	width:27%;
	float:left;
	margin-left:5px;
}
div#pageheaderright {
	width:70%;
	float:right;
	text-align:right;
}
table#pageheaderright td {
	padding:5px 10px;
	text-align:center;
}
table#pageheaderright a {
	background-position:top;
	color: #000;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	padding:0px 2px;
}
table#pageheaderright a:hover, 
table#pageheaderright a:active {
	text-decoration:underline;
	color:#166AAE;
}

/* icons menu */
td#navmenucell {
	background-color:#fff;
	vertical-align:top;
	border-top: 2px solid #B51717;
	border-bottom: 2px solid #B51717;
	text-align:center;
	color:#000;
}
table#navmenu td{
	text-align:left;
	vertical-align:top;
	width:95px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px;
}

table#navmenu a {
	background-position:top;
	color: #000;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	padding:0px 2px;
	line-height: 11px;
}
table#navmenu a:hover, 
table#navmenu a:active {
	text-decoration:underline;
	color:#166AAE;
}
table#navmenu td {
}
table#navmenu img {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}

/***** COLUMNS (TD) *****/
td#middlecolumn {
	vertical-align:top;
	text-align:center;
	padding: 13px;
	width:734px;
	background-color:#F2E8C6;
}

/* main content */
div#maincontent {
	width:95%;
	height:80%;
	padding:10px;
	text-align:left;
	background-color:#fff;
	border:1px solid #92431D;
}
div#maincontent h1.green{
	color:#5C7524;
}
div#maincontent table {
	width:100%;
	margin:10px 0px;
}
div#maincontent table td{
	border:1px solid #fff;
	padding:5px;
	vertical-align:top;
}
div#maincontent table.green{
	background-color:#E3EECA;
}
div#maincontent h1.blue{
	color:#2E6D98;
}
div#maincontent table.blue{
	background-color:#D1E4F1;
}
div#maincontent input.textfield {
	width:65px;
	height:16px;
	border:1px solid #569ECD;
	margin:1px 0px 1px 10px;
	padding: 0px;
}
div#maincontent input.textfield_wide {
	width:150px;
	height:16px;
	border:1px solid #569ECD;
	margin:1px 0px 1px 10px;
}
div#maincontent input.textfield_narrow {
	width:40px;
	height:16px;
	border:1px solid #569ECD;
	margin:1px 0px;
}
div#maincontent select.dropdown {
	height:16px;
	border:1px solid #569ECD;
	margin:1px 0px 1px 10px;
}
div#maincontent textarea {
	border:1px solid #569ECD;
	margin:1px 0px;
	width:150px;
}
div#maincontent input.browsebutton {
	background-image:url(../images/nettracer/browsebutton.gif);
	background-repeat:no-repeat;
	height:23px;
	border:0px none;
	background-color:#FFFFFF;
	color:#5C7524;
	font-size:12px;
	padding-left:20px;
}
div#maincontent input.addbutton_green {
	background-image:url(../images/nettracer/addButton_green.gif);
	background-repeat:no-repeat;
	height:30px;
	border:0px none;
	background-color:#FFFFFF;
	color:#5C7524;
	font-size:12px;
	font-weight:bold;
	padding-left:20px;
}
div#maincontent input.addbutton_smgreen {
	background-image:url(../images/nettracer/addButton_smgreen.gif);
	background-repeat:no-repeat;
	height:23px;
	border:0px none;
	background-color:#FFFFFF;
	color:#5C7524;
	font-size:12px;
	padding-left:20px;
}
div#maincontent input.addbutton_blue {
	background-image:url(../images/nettracer/addButton_blue.gif);
	background-repeat:no-repeat;
	height:30px;
	border:0px none;
	background-color:#FFFFFF;
	color:#2E6D98;
	font-size:12px;
	font-weight:bold;
	padding-left:20px;
}
/* buttons area - content */
div#buttons {
	text-align:left;
	padding:10px;
}
div#buttons input {
	margin:0px 10px;
}
/***** MISC *****/
div#copyright {
	background-image:url(../images/nettracer/352webmark.gif);
	background-repeat:no-repeat;
	color:#fff;
	font-size: 9px;
	line-height:11px;
	text-align:left;
	padding: 5px 0px 10px 57px;
	margin: 0px 0px 0px 0px;
}
div#copyright a {
	color:#555;
}
span.reqfield {
	color:#B51717;
}
div.helplink {
	float:right;
}
div.helplink a{
	color:#B51717;
	text-decoration:none;
}
div.helplink a:hover,a:active{
	color:#B51717;
	text-decoration:underline;
}

/**************************************************/
/*	SPECIAL SPOT GRAPHICS						  */
/**************************************************/

.searchfield {
	width:100px;
	height:14px;
	background-color:#F2E8C6;
	border:1px solid #569ECD;
 }
.searchsubmit {
	height:18px;
	background-color:#D1E4F1;
	border:1px solid #92431D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left:-5px;
}
#button_cancel {
	padding-left:15px;
	background-image:url(../images/nettracer/buttonbg_x.gif);
	background-repeat:no-repeat;
	background-color:#666666;
	color:#fff;
	border:1px solid #000;
}
#button_savetemp {
	padding-left:15px;
	background-image:url(../images/nettracer/buttonbg_1arrow.gif);
	background-repeat:no-repeat;
	background-color:#B51717;
	color:#fff;
	border:1px solid #000;
}
#button_submitfortracing {
	padding-left:15px;
	background-image:url(../images/nettracer/buttonbg_2arrows.gif);
	background-repeat:no-repeat;
	background-color:#B51717;
	color:#fff;
	border:1px solid #000;
}
