fieldset, img {
    border: 0 none;
}

h1, .title { font-size:14pt; font-weight:normal }

a:link, a:visited {
    outline: medium none;
    text-decoration: none;
}

.white, .navmain {
    color: #FFFFFF;
}

.dkblue, a.dkblue, a.dkblue:visited, a.dkblue:hover, a.dkblue:focus, .header, .navsecondary, .formnavmain, .formnavsecondary, .dkblue a:link, .dkblue a:visited, .dkblue a:hover, .dkblue a:focus {
	color: #24427c }

* {
	margin: 0;
	padding: 0;
}

.imageBorderBlk {
	border: 0.2em solid black;	
}

.imageBorderGry {
	border: 0.2em solid grey;	
}

.breadcrumb {
	font-size: 12pt;
	padding: 1em 0 0;
}

.breadcrumb b {
	font-size: 14pt;
}

.pagewrapper {
	width:100%;
	min-height:480px;
	-webkit-text-size-adjust:none; 
	font-family: Arial, Helvetica, sans-serif;
	line-height:1.4em;
}

.wrappercontentbody {
	padding: 0 0 20px 10px;
}

.contentbody {
	margin: 0 1.5em 0;
	padding-bottom: 1em;
}

.wrappercontent {
    background: none no-repeat scroll 0 0 #FFFFFF;
    height: auto;
}

#langSelect {
    margin-top: 2em;
}

.container {
    margin-top: 2em;
}

.containerheader {
    height: 3.4em;
    border-left: 0.1em solid #B5BDC6;
    border-right: 0.1em solid #B5BDC6;;
    border-top: 0.1em solid #B5BDC6;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    -moz-border-radius-topright: 2em;
    -moz-border-radius-topleft: 2em;
	background: none no-repeat scroll 0 0 #E2E5F0;
	float: none;
}

.containerheader h1 {
    margin-top: 0.3em;
}

.contentbodyspacing {
    height: 2em;
}

#stepThreeInputTable td {
	padding-left: 0.5em;
}

.formLabel {
    font-size: 12pt;
}

input, textarea {
    border: 0.1em solid #708090;
    padding: 0.2em 0 0.2em 0.2em;
    background-image: none;
}

.inputWidth {
	width: 95%;	
}

.colMin {
    width: 40%;
}

.colMax {
    width: 60%;
}

.colMid {
	width: 33%;	
}

.colHalf {
	width: 50%;
}

.captchaerrormsg {
    margin-top: 0.2em;
}

.button140pxred, .button140pxredl {
    font-size: 12pt;
    height: 30px;
    width: 150px;
    padding: 0 0 0.1em;
    background-image: none;
    background-color: #BB0000;
    border-radius: 2em;
    -moz-border-radius: 2em;
	color: #FFFFFF;
	float: none;
	background-repeat: no-repeat;
    border-width: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.containerfootergradient {
    background: none no-repeat scroll 0 0 #F1F1F1;
    border-left: 0.1em solid #B5BDC6;
    border-right: 0.1em solid #B5BDC6;    
    border-bottom: 0.1em solid #B5BDC6;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    -moz-border-radius-bottomright: 2em;
    -moz-border-radius-bottomleft: 2em;
    height: 1.2em;
}

.footer_new {
	border-top: 0.4em solid #B2052C;
	background:none no-repeat ;
	text-align:center;
	padding: 0;
	height: auto;
}

.footer_new_inner {
	text-align:center;
	background: none repeat scroll 0 0 #2F5296;
    border-top: 0.5em solid #FFFFFF;
}

.footer_new_text {
    border-bottom: 0.5em solid #2F5296;
    border-top: 0.5em solid #2F5296;
    color: #FFFFFF;
}

.captchaSize {
	height: 50px;	
}

body  {
	background: #FFFFFF no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}

.header .logo {
	clear: none;
	float: none;
    padding-left: 0;
}

.header {
    color: #1E4798;
    text-align: center;
    background: none repeat scroll 0 0 #113166;
    border-top: 5px solid #113166;
}

.passlogoutnav {
    background: none no-repeat scroll left center #2F5296;
    font-size: 12pt;
    margin-right: 1.2em;
    margin-top: 1em;
    padding: 0.5em 3em 0.6em 1em;
}

.passlogoutimg {
    padding: 0 0.5em 0 0;
}

.passlogoutlink {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-decoration: none;
}

p, .bodycopy {
    font-size: 12pt;
    line-height: 12pt;
}

.listitem span {
    line-height: 12pt;
}

.loginerrormsg {
    margin-top: 0.2em;
}
    
/* BELOW HERE MAY NEED SPECIAL SETTINGS FOR PARTICULAR MOBILE BROWSERS */

body  {
	font-size:12pt;  /*130 */
	width:auto;
}

.reqbullet {
	height: 10px;	  /*30 */
}

.header .logo {
    height:77px;  /*160 */
}

.header {
    -moz-border-radius-bottomleft: 12px !important;
    -moz-border-radius-bottomright: 12px !important;
    background: url("/pax-view/_images/header_gradient_mobile.gif") repeat scroll 0 0 #FFFFFF;
    height: 77px;  /*175 */
}

.sectionTitle{
    background: none repeat scroll 0 0 #2F5296;
    color: #FFFFFF;
    padding-bottom: 3px;
    text-align: center;
}

.passlogoutimg {
    height: 15px;  /*40 */
}

@MEDIA only screen and (max-device-width: 480px) {
	
	body {
		font-size: 12pt;
		width:auto;
	}

	.reqbullet {
		height: 10px;	
	}

	.header .logo {
    	height:70px;
	}

	.header {
    	height: 80px;
	}

	.passlogoutimg {
    	height: 15px;
	}
}

