.nav { width:auto; list-style:none none; line-height:1.5em; font-weight:normal; padding:0; margin:0 }
.nav ul { list-style:none none; padding:0; margin:0 }
.nav li a.arrow { width:auto; display:block; text-decoration:none; font-size:13px; color:#fff; background:#2f5296 url(../_images/arrow_off.gif) center left no-repeat; padding:5px 30px 6px 15px } /* the top and bottom padding work together as an offset for the submenus */
.nav li.topnav { float:left; padding:0 }

/* Support for the "iehover-fix.js" */
.nav iframe { position:absolute; left:0; z-index:-1; filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0) }
#nav li.ie6hover div.subnav { left:auto } /* shows the subnav, don't change to .nav */
.nav li.topnav div.subnav li.ie6hover a { color:#fff }
.nav li.topnav div.subnav li.ie6hover { background-color:#2f5296 }

#nav li.topnav:hover div.subnav { left:auto } /* shows the subnav, don't change to .nav */
.nav li.topnav div.subnav { position:absolute; left:-999em; background:url(../_images/nav_btm_right.gif) no-repeat right bottom } /* don't change to #nav, doesn't work in IE6 */

.nav li.topnav div.subnav ul { background:#fff url(../_images/subnav_bg.gif) repeat-x bottom; font-size:1.1em; border:2px solid #b5bdc6; border-bottom:none; border-top:none }
.nav li.topnav div.subnav li { line-height:1.8em; cursor:pointer }
.nav li.topnav div.subnav ul.first li a { width:69px }
.nav li.topnav div.subnav ul.second li a { width:124px }
.nav li.topnav div.subnav ul.third li a { width:116px }
.nav li.topnav div.subnav ul.fourth li a { width:93px }
.nav li.topnav div.subnav li a { display:block; padding:0 10px 0 10px; color:#24427c; background-color:none; font-weight:bold; white-space:nowrap }
.nav li.topnav div.subnav li:hover { background-color:#2f5296 }
.nav li.topnav div.subnav li:hover a { color:#fff }
.nav li.topnav div.subnav div.bcurve { height:10px; width:10px; background:url(../_images/nav_btm_left.gif) no-repeat }
