<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="file:../config/cron.properties" />
	</bean>

	<!-- Hibernate config -->
	<bean id="sessionFactory" class="com.bagnet.nettracer.hibernate.HibernateWrapper" factory-method="getSession" />

	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true" />

	<!-- Data Access Objects -->
	<bean id="wtq-bmo" class="com.bagnet.nettracer.cronjob.bmo.WTQueueBmo">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="wtaf-bmo" class="com.bagnet.nettracer.cronjob.bmo.WT_ActionFileBmo">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="wtTx-bmo" class="com.bagnet.nettracer.wt.bmo.WtTransactionBmo">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="flight-info-bmo" class="com.bagnet.nettracer.cronjob.bmo.FlightInfoBmo" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="datafeed-log-bmo" class="com.bagnet.nettracer.cronjob.bmo.DataFeedLogBmo" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- services used by the workers-->
	
	<bean id="wtConnector" class="com.bagnet.nettracer.wt.connector.BetaWtConnector">
		<constructor-arg value="${company.code}" />
	</bean>
	
	<bean id="wtService" class="com.bagnet.nettracer.wt.svc.DefaultWorldTracerService">
		<property name="wtConnector" ref="wtConnector" />
		<property name="wtCompanyCode" value="${company.code}" />
	</bean>

	<!--  Worker beans that have the methods to be scheduled -->

	<bean id="wtProcessQueue" class="com.bagnet.nettracer.cronjob.wt.WorldTracerQueueSweeper">
		<property name="companyCode" value="${company.code}" />
		<property name="wtqBmo" ref="wtq-bmo" />
		<property name="wtHitDelay" value="${wtqueue.request.delay}" />
		<property name="wtEndDelay" value="${wtqueue.end.delay}" />
		<property name="wtService" ref="wtService" />
	</bean>

	<bean id="wtActionFiles" class="com.bagnet.nettracer.cronjob.wt.RetrieveWTActionFiles">
		<constructor-arg value="${company.code}" />
		<constructor-arg value="${cron.instance.label}" />
		<property name="wqBmo" ref="wtq-bmo" />
		<property name="wtService" ref="wtService" />
		<property name="wafBmo" ref="wtaf-bmo" />
	</bean>

	<bean id="moveToLz" class="com.bagnet.nettracer.cronjob.lz.MoveToLZThread">
		<constructor-arg value="${lz.move.type}" />
	</bean>
	
	<bean id="flight-update" class="com.bagnet.nettracer.cronjob.datafeed.FlightInfoUpdate" >
		<property name="companyCode" value="${company.code}" />
		<property name="backupLocation" value="c:\\temp\\backup"/>
		<property name="reportFileLocation" value="c:\\temp"/>
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="fiBmo" ref="flight-info-bmo" />
		<property name="dflBmo" ref="datafeed-log-bmo" />
	</bean>
	
	<bean id="moveToWt" class="com.bagnet.nettracer.cronjob.wt.MoveToWorldTracer" >
		<property name="companyCode" value="${company.code}" />
		<property name="qbmo" ref="wtq-bmo" />
	</bean>

	<!-- passive tracer just runs constantly so just creating this bean will kick it off -->
		
	<bean id="newPassiveTracer" class="com.bagnet.nettracer.cronjob.tracing.PassiveTracingWrapper" lazy-init="false">
		<constructor-arg value="${company.code}" />
		<constructor-arg value="${cron.instance.label}" />
		<constructor-arg value="NEW" />
	</bean>
	
	<bean id="oldPassiveTracer" class="com.bagnet.nettracer.cronjob.tracing.PassiveTracingWrapper" lazy-init="false">
		<constructor-arg value="${company.code}" />
		<constructor-arg value="${cron.instance.label}" />
		<constructor-arg value="OLD" />
	</bean>
	
	<bean id="dataFeedJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" >
		<property name="targetBeanName" value="flight-update"/>
		<property name="targetMethod"  value="updateFlightInfo"/>
		<property name="concurrent" value="false"/>
	</bean>
		 
	<bean id="runNewPassiveTracerJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetBeanName" value="newPassiveTracer" />
		<property name="targetMethod" value="startTracing" />
		<property name="concurrent" value="false" />
	</bean>
	
	<bean id="runOldPassiveTracerJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetBeanName" value="oldPassiveTracer" />
		<property name="targetMethod" value="startTracing" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- The different jobs to run -->
	<bean id="wtQueueJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetBeanName" value="wtProcessQueue" />
		<property name="targetMethod" value="processWtQueue" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="wtActionFileJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetBeanName" value="wtActionFiles" />
		<property name="targetMethod" value="manageActionFiles" />
		<property name="concurrent" value="false" />
	</bean>


	<bean id="moveToLzJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetBeanName" value="moveToLz" />
		<property name="targetMethod" value="moveToLz" />
		<property name="concurrent" value="false" />
	</bean>
	
	<bean id="moveToWtJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetBeanName" value="moveToWt" />
		<property name="targetMethod" value="moveFiles" />
		<property name="concurrent" value="false" />
	</bean>

	<!--  The Schedule they should run on -->
	<bean id="cronWtQueueTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="wtQueueJob" />
		<property name="cronExpression" value="${wtqueue.cron}" />
		<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING" />
	</bean>
	
	<bean id="cronMoveToWtTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="moveToWtJob" />
		<property name="cronExpression" value="${move.wt.cron}" />
		<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING" />
	</bean>

	<bean id="cronNewPassiveTracerTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="runNewPassiveTracerJob" />
		<property name="repeatCount" value="0"/>
		<property name="startDelay" value="30000"/>
	</bean>
	
	<bean id="cronOldPassiveTracerTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="runOldPassiveTracerJob" />
		<property name="repeatCount" value="0"/>
		<property name="startDelay" value="30000"/>
	</bean>

	<bean id="cronRetrieveAfTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="wtActionFileJob" />
		<property name="cronExpression" value="${wtaf.cron}" />
		<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING" />
	</bean>

	<bean id="cronMoveToLzTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="moveToLzJob" />
		<property name="cronExpression" value="${lz.move.cron}" />
	</bean>
	
	<bean id="cronDataFeedTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="dataFeedJob" />
		<property name="cronExpression" value="${data.feed.cron}" />
	</bean>

	<!-- Aspects and advice -->
	<aop:aspectj-autoproxy />
	
	<!--  world tracer transaction logging -->
	<bean id="wtLogging" class="com.bagnet.nettracer.aop.WorldTracerLogger">
		<constructor-arg ref="wtTx-bmo" />
	</bean>
	
</beans>
