<?xml version="1.0" encoding="UTF-8"?>
<Context cookies="true" crossContext="true">
   <Manager className="org.apache.catalina.session.PersistentManager" 
	checkInterval="1"
	saveOnRestart="false"
	maxActiveSessions="-1"
	minIdleSwap="-1"
	maxIdleSwap="0"
	maxIdleBackup="0"
   	debug="0">
	    <Store
	    	debug="0"
		   	className="org.apache.catalina.session.JDBCStore" 
		   	connectionURL="jdbc:mysql://10.16.247.6:3306/nettracer_westjet?user=westjet-user&amp;password=nMxx4ios" 
		   	driverName="org.gjt.mm.mysql.Driver" 
		   	sessionAppCol="app_name" 
		   	sessionDataCol="session_data" 
		   	sessionIdCol="session_id" 
		   	sessionLastAccessedCol="last_access" 
		   	sessionMaxInactiveCol="max_inactive" 
		   	sessionTable="jdbc_sessions"
		   	sessionValidCol="valid_session"/>
   	</Manager>

</Context>