<?xml version="1.0" encoding="UTF-8"?>
<Context cookies="true" crossContext="true">
   <Manager className="org.apache.catalina.session.PersistentManager" 
	checkInterval="1"
	saveOnRestart="true"
	maxActiveSessions="-1"
	minIdleSwap="-1"
	maxIdleSwap="0"
	maxIdleBackup="0"
   	debug="0">
	    <Store
	    	debug="0"
		   	className="org.apache.catalina.session.JDBCStore" 
		   	connectionURL="jdbc:jtds:sqlserver://localhost/nettracer_main;user=nettracer;password=nettracer" 
		   	driverName="net.sourceforge.jtds.jdbc.Driver" 
		   	sessionAppCol="app_name" 
		   	sessionDataCol="session_data" 
		   	sessionIdCol="session_id" 
		   	sessionLastAccessedCol="last_access" 
		   	sessionMaxInactiveCol="max_inactive" 
		   	sessionTable="jdbc_sessions"
		   	sessionValidCol="valid_session"/>
   	</Manager>

</Context>

<!-- 

	    <Store
	    	debug="0"
		   	className="org.apache.catalina.session.JDBCStore" 
		   	connectionURL="jdbc:jtds:sqlserver://server02/nettracer_airtran;user=nettracer;password=nettracer" 
		   	driverName="net.sourceforge.jtds.jdbc.Driver" 
		   	sessionAppCol="app_name" 
		   	sessionDataCol="session_data" 
		   	sessionIdCol="session_id" 
		   	sessionLastAccessedCol="last_access" 
		   	sessionMaxInactiveCol="max_inactive" 
		   	sessionTable="jdbc_sessions"
		   	sessionValidCol="valid_session"/>
		   	
		   	<Store
	    	debug="0"
		   	className="org.apache.catalina.session.JDBCStore" 
		   	connectionURL="jdbc:mysql://localhost:3306/nettracer_main?user=nettracer&amp;password=nettracer" 
		   	driverName="org.gjt.mm.mysql.Driver" 
		   	sessionAppCol="app_name" 
		   	sessionDataCol="session_data" 
		   	sessionIdCol="session_id" 
		   	sessionLastAccessedCol="last_access" 
		   	sessionMaxInactiveCol="max_inactive" 
		   	sessionTable="jdbc_sessions"
		   	sessionValidCol="valid_session"/>
		   	

-->